<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Fish Products</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./assets/css/stylesnext.css" rel="stylesheet" />
    <%- include ('./partials/css.ejs') %>

</head>

<body>
    <!-- Navigation-->
  
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container">
            <div class="header-container d-flex align-items-center justify-content-between">
                <a href="/">
                    <div class="logo">
                        <!-- <h1 class="text-light"><a href="/"><span>Purrfect Store</span></a></h1> -->
                        <!-- Uncomment below if you prefer to use an image logo -->
                        <!-- <a href="/"><img src="" alt="" class="img-fluid"></a> -->
                    </div>
                </a>
  
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link " href="/">Home</a></li>
                        <li><a class="nav-link " href="/catproducts">Catitems</a></li>
                        <li><a class="nav-link  " href="/dogproducts">Dogitems</a></li>
                        <li><a class="nav-link active" href="/fishproducts">Fishitems</a></li>
  
                  
  
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
  
            </div><!-- End Header Container -->
        </div>
  
    </header><!-- End Header -->
   
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% result.forEach((item,i)=>{ %> 
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top objfit" src="<%=item.pimage  %> " alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                
                             <h5 class="fw-bolder"><%=item.pname%></h5>
                             Rs.<%=item.pprice %> 
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/fishproducts/<%=item.pid%> ">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
               <% }) %> 
            </div>
        </div>
    </section>
   
   <!-- footer -->
    <%- include('./partials/footer.ejs') %>
    <%-  include ('./partials/js.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   
    <script src="public/assets/js/scripts.js"></script>
</body>

</html>